<div class="site-header">
    <h1>
     <span>
      <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
     </span>
    </h1>
    <nav class="site-nav">
        <a class="page-link" href="{{ site.baseurl }}/">Home</a>
        <a class="page-link" href="{{ site.baseurl }}/military-retire-app">Military Retirement App</a>
        <a class="page-link" href="{{ site.baseurl }}/va-disability-pay-app">VA Disability Pay App</a>
        <a class="page-link" href="{{ site.baseurl }}/contact-us">Contact Us</a>
    </nav>
</div>
